@font-face {
    font-family: Blair;
    src: url(../fonts/Blair\ ITC\ Std\ Light.otf);
}

@font-face {
    font-family: CanvasLight;
    src: url(../fonts/MADE\ Canvas\ Light\ PERSONAL\ USE.ttf);
}

@font-face {
    font-family: BlairBold;
    src: url(../fonts/Blair\ ITC\ Std\ Bold.otf);
}

@font-face {
    font-family: Gillsans;
    src: url(../fonts/GillSans-Light-08.ttf);
}

::-webkit-scrollbar {
    width: 0px;
}

* {
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: 'Blair';
}

.header-desktop-section {
    font-size: 15px;
    height: 60px;
}

.header-desktop-menu-list {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 0 !important;
    height: 100%;
}

.header-desktop-menu-list li {
    margin-right: 20px;
}

.header-desktop-menu-list li a {
    text-decoration: none;
    color: black;
    line-height: 50px;
    text-transform: uppercase;
}

.header-desktop-menu-list li a:hover {
    font-family: 'BlairBold';
}


/* pop up */

.modal-wrapper.styled .wp-post-modal {
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
}

#modal-ready {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.wp-block-image {
    width: 100% !important;
}

.wp-block-image img {
    margin-bottom: 0 !important;
}

.wp-block-gallery {
    height: 100vh !important;
    min-width: 50%;
    /* overflow: hidden; */
    overflow-y: auto;
}

.wp-container-4 {
    margin-left: 50px;
}

#wpadminbar {
    z-index: 99 !important;
}

.post-tittle {
    display: block;
    font-size: 80px;
    margin-bottom: 0;
    line-height: 60px;
}

.wp-container-3 .wp-block-group__inner-container {
    margin-top: 90px;
    height: calc(100vh - (160px + 75px));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media only screen and (min-width: 1824px) {
    .wp-container-3 .wp-block-group__inner-container {
        margin-top: 150px;
        height: calc(100vh - (160px + 150px));
    }
}

.post-content {
    font-family: 'Gillsans';
    font-size: 15px;
    width: 45%;
    /* margin-bottom: 8rem; */
}

.post-footer {
    /* margin-top: 56%; */
    margin-bottom: 0 !important;
}


/* .wp-container-4 .wp-block-group__inner-container {
    height: 100%;
}

.wp-container-3 {
    height: 100%;
}

.wp-container-3 .wp-block-group__inner-container {
    height: 100%;
} */

#primary {
    padding: 0 !important;
}


/* list post */

.post-tittle:nth-child(1) {
    margin-top: 20px;
}

.modal-wrapper.styled .wp-post-modal .close-modal {
    top: 0px !important
}

.wrapper {
    padding: 0 !important;
}

.menu-work-item a {
    display: block;
    text-decoration: none;
    height: 70px;
    overflow: hidden;
    color: black;
    border: 0.5px solid rgb(255, 255, 255);
    transition: all .3s;
}

.menu-work-item a:hover {
    text-decoration: none;
    color: black;
    border: 0.5px solid rgb(0, 0, 0);
}

.work-title,
.work-desc {
    font-size: 80px;
    margin-bottom: 0 !important;
    display: block;
    line-height: 80px;
    transition: ease-in .3s;
    margin-left: 20px;
}

.work-title {
    font-weight: 400;
}

.work-desc {
    text-transform: uppercase;
    display: flex;
    position: relative;
    justify-content: space-between;
}

.description {
    font-family: 'CanvasLight';
}

.menu-work-item a:hover .work-title {
    transform: translateY(-100%);
}

.menu-work-item a:hover .work-desc {
    transform: translateY(-100%);
}

.work-excerpt p {
    display: block;
    margin-bottom: 0 !important;
    font-size: 12px;
    /* line-height: 105px; */
    bottom: -20px;
    position: absolute;
    /* align-items: end; */
    right: 20px;
    word-spacing: 12px;
}

.list-post-content {
    padding-bottom: 7%;
}

.list-post-footer {
    padding: 20px 0;
    margin: 0 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.list-post-footer::after {
    width: 100%;
    height: 0.5px;
    position: absolute;
    content: '';
    top: 0;
    background: #707070;
}

.footer-infor {
    justify-content: space-between;
    display: flex;
    width: 35%;
    margin-right: 3%;
}

.footer-infor ul {
    list-style-type: none;
}

.footer-infor ul li a {
    text-decoration: none !important;
    cursor: default;
    color: black !important;
}

#author-menu a {
    display: block;
    width: 60%;
}

.back-to-header {
    cursor: pointer;
}


/* list post */


/* contact */

.contact-content #modal-ready {
    height: calc(100vh - 80px);
}

.elementor-82 {
    width: 90% !important;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    margin: auto auto;
}

.top-contact {
    width: 100%;
    position: relative;
    padding-bottom: 100px;
}

.top-contact::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #707070;
    bottom: 0%;
}

.contact-title {
    width: 49% !important;
    margin-bottom: 0 !important;
}

.contact-desc {
    width: 50% !important;
    display: flex;
    justify-content: flex-end !important;
    align-items: flex-end !important;
}

.contact-desc p {
    font-size: 15px;
    margin-bottom: 0 !important;
}

.top-contact .elementor-element-populated {
    display: flex;
}

.bottom-contact {
    width: 100%;
}

.contact-title p {
    font-size: 80px;
    line-height: 65px;
    margin-bottom: 0 !important;
}

.contact-info p {
    margin-bottom: 0% !important;
    font-size: 15px;
}

.contact-tech p {
    margin-bottom: 0% !important;
    font-size: 15px;
}

.contact-location p {
    text-align: end;
    font-size: 15px;
    margin-bottom: 0 !important;
}

.insta-icon {
    margin-left: 15px !important;
}

.elementor-widget:not(:last-child) {
    margin-bottom: 0% !important;
}

.elementor-column-gap-default>.elementor-column>.elementor-element-populated {
    padding: 0 !important;
    padding-top: 15px !important;
}


/* about */

.about-section #modal-ready {
    height: calc(100vh - 80px);
}

.about-section .elementor-213 {
    width: 90% !important;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    margin: auto auto;
    /* margin-top: 10vw; */
}

.about-top .logo-about .elementor-widget-wrap {
    display: flex;
    justify-content: flex-end;
    margin-right: 25%;
}

.about-content .elementor-widget-wrap {
    display: flex;
    justify-content: flex-end;
}

.about-content-left {
    width: 492px !important;
    margin-right: 58px;
}

.about-content-left p {
    font-size: 15px;
    font-family: 'Gillsans';
}

.about-content-right {
    width: 397px !important;
    margin-left: 30px;
}

.about-content-right p {
    font-size: 15px;
    font-family: 'Gillsans';
    margin-bottom: 0 !important;
}

.slogan-content p {
    font-size: 80px;
    text-align: end;
    margin-top: 100px;
    /* line-height: 40px; */
}

.about-section .elementor-column-gap-default>.elementor-column>.elementor-element-populated {
    padding: 0 !important;
}

.elementor-213 .elementor-element.elementor-element-be4473f {
    width: 80% !important;
}

@media only screen and (min-width: 1600px) {
    .about-top .logo-about .elementor-widget-wrap {
        margin-right: 0;
    }
}


/* about */